*{
    padding:0;
    margin:0;
    z-index: 1;
    box-sizing: border-box;
}


body{
    background-image: url('/img/background.jpg');
    font-family: 'Open Sans';
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center top;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0056af;
    font-weight: bold;
  }

  header{
    position: relative;
    z-index: 2;
  }
  
  .navbar-menu > ul{
    display: flex;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li  > .per-mark, li  >.all-toys{
    border-right-style: dotted;
    
  }
  li > .per-mark:hover, li > all.toys:hover{
    border-right-style: dotted;

  }
  
  a {
    text-decoration: none;
  }
  
  li:hover>a{
    background-color:#b9d2f3;
    color:#0056af;
    text-align: center;
    border-style: none;
  }

main{
    min-height: 100vh;
}


.contain-p{
   margin-left: auto;
   margin-right: auto;
   width: 960px;
}

.container-list{
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  
}
.jouet{
  padding: 15px;
  flex-shrink: 1;
  flex-basis: 320px;
  text-align: center;
  font-weight: bold;
}
.jouet > a {
  display: flex;
  flex-direction: column;
  height: 100%
}
.price{
  color: #111;
  margin-top: 5px;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  
}
.marques{
  display: none;
  text-align: center;
  color: #111;
}
.mark-btn{
  color: #111;
  
}
.mark-btn:hover{
  color: #111;
  background-color: #d1e1f5;
}
li:hover ul.marques{
  display: block;
  position: absolute;
  background-color: #b9d2f3;
  color: #1c1e20;
  min-width: 160px;
  padding: 15px


}

.title-toy {
  flex-grow: 1;
  color: #0056af
}
 .selecteur{
   text-align: center;
   padding: 10px;
 }
 
 .title {
   text-align: center;
  padding: 18px;
  padding-bottom: 30px;
 }

 .select-magasin{
   width: 150px;
   transform: translateX(20px);
 }

 .jouet-description{
   display: flex;
 }
 .jouet-description-left> .price{
   font-size: 48px;
 }
 .submit{
   transform: translateX(20px);
 }
 .para-blue{
   color : #0056af;
  }
  .para-principal{
    font-weight: bold;
  }
  .jouet-description-left > .para-principal {
    transform: translateX(20px);
    
 }
 .jouet-description-right{
   padding-left: 80px;
 }
 .jouet-description-right > p {
   padding: 10px;
 }
 
 .error {
  text-align: center;
  margin-top: 235px;
 }